<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World of Games</title>
</head>
<body>
    <h1>Welcome to World of Games</h1>
    <div id="score">Score: 100</div>
    <p>Select a game to play:</p>
    <ul>
        <li><a href="{{ url_for('Memory_Game') }}">Memory Game</a></li>
        <li><a href="{{ url_for('Guess_Game') }}">Guess Game</a></li>
        <li><a href="{{ url_for('Currency_Roulette') }}">Currency Roulette</a></li>
    </ul>
</body>
</html>
